.grid{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #52154E;
    width: 500px;
    height: 500px;
    background-color: #111344;
}


.grid div{
    width: 20px;
    height: 20px;
}

.pac-dot{
    background-color: #F9CFF2;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall{
    background-color: #52154E;
}

.power-pellet{
    background-color: #DAE0F2;
    border-radius: 10px;
}